<span *ngIf="!this.isRoot">
  <a [routerLink]="'../classification-view/' + this.classification.id">
    {{this.classification.name}}
  </a>
  <button mat-mini-fab (click)="deleteClassification()" [disabled]="deleting" *ngIf="isAdmin()">
    <mat-icon>{{deleting ? 'hourglass_empty' : 'delete' }}</mat-icon>
  </button>
</span>
<ul *ngIf="this.classification.children && this.classification.children.length > 0">
  <li *ngFor="let c of this.classification.children; index as i">
    <mat-checkbox (change)="toggleCheck(i)"></mat-checkbox>
    <button mat-flat-button color="primary" class="mrg-btn" [disabled]="!(mergable() && this.checked[i] && mergeName)" (click)="mergeChildren()">
      Merge
    </button>
    <lao-classification [classification]='c' [mergeName]='mergeName' (resetPage)="resetParent()"></lao-classification>
  </li>
</ul>
