<span *ngIf="!this.isRoot">
  <a>
    Classification: {{this.classification.name}}
  </a>
  <button mat-mini-fab (click)="debug()">
    <mat-icon>delete</mat-icon>
  </button>
</span>
<ul *ngIf="this.classification.children.length > 0">
  <li *ngFor="let c of this.classification.children; index as i">
    <mat-checkbox (change)="toggleCheck(i)"></mat-checkbox>
    <button mat-flat-button color="primary" class="mrg-btn" [disabled]="!(mergable() && this.checked[i])">
      Merge
    </button>
    <lao-classification [classification]='c'></lao-classification>
  </li>
</ul>
