<h1>Active Implementation: {{implementation.name}}</h1>

<h2>Body</h2>
<ng-container *ngIf="this.state === 'loading'">
  <p>Loading Implementation Details</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<mat-card *ngIf="this.state !== 'loading'">
  <code>
    {{implementation.implementationDetails}}
  </code>
</mat-card>

<h2>Problem Instance List</h2>
<ul>
  <li *ngFor="let inst of this.instances">
    <a [routerLink]="['/instance-view', inst.id]">
      {{inst.name}}
    </a>
  </li>
</ul>

<!-- <form [formGroup]="impForm">
  <mat-form-field appearance="fill">
    <mat-label for="name">New Implementation Name</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="false">
    <mat-label>Parent Algorithm</mat-label>
    <mat-select formControlName="algorithmId">
      <mat-option *ngFor="let a of this.algorithms" [value]="a.id">{{a.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="implementationDetails">Implementation Details</mat-label>
    <textarea matInput id="implementationDetails" formControlName="implementationDetails"></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!this.impForm.valid || this.state === 'submitting'" (click)="addImp()">
    Add Implementation
    <mat-progress-bar mode='indeterminate' *ngIf="this.state==='submitting'"></mat-progress-bar>
  </button>
  <p *ngIf="this.state === 'error'">There was an error submitting the form data. It's possible that the lambda timed out and that the new implementation will show if the page is reloaded.</p>
</form> -->

<button mat-flat-button color="primary">Download This Implementation</button>
<button mat-flat-button color="primary">Add Implementation</button>
