<h1>Active Implementation: {{implementation.name}}</h1>

<h2>Body</h2>
<ng-container *ngIf="this.state === 'loading'">
  <p>Loading Implementation Details</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<mat-card *ngIf="this.state !== 'loading'">
  <code>
    {{implementation.implementationDetails}}
  </code>
</mat-card>

<h2>Problem Instance List</h2>
<ul>
  <li *ngFor="let inst of this.implementations">
    <a [routerLink]="['/instance-view', inst.id]">
      {{inst.name}}
    </a>
  </li>
</ul>

<button mat-flat-button color="primary">Download This Implementation</button>
<button mat-flat-button color="primary">Add Implementation</button>
