<mat-toolbar color='primary'>
  Laomedeia App
  <button mat-flat-button color="primary" routerLink="classifications-view">Classifications</button>
  <button mat-flat-button color="primary" routerLink="algorithm-view">Algorithm</button>
  <button mat-flat-button color="primary" routerLink="login">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
  <amplify-sign-out></amplify-sign-out>
  <div>Hello, {{user.username}}</div>
  <div>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

