<mat-toolbar color='primary'>
  Laomedeia App
  <button mat-flat-button color="primary" routerLink="classifications-view">
    <mat-icon>language</mat-icon>
    Classifications
  </button>
  <button mat-flat-button color="primary" routerLink="admin" *ngIf="isAdmin()">
    <mat-icon>flutter_dash</mat-icon>
    Admin
  </button>
  <span class="spacer"></span>
  <span *ngIf="user" class="username">
    {{user.username}}
  </span>
  <amplify-sign-out mat-flat-button *ngIf="user"></amplify-sign-out>
  <ng-container *ngIf="!this.isLoggedIn()">
    <button mat-flat-button color="accent" (click)="letUserContinue()">Continue Without Account</button>
  </ng-container>
  <ng-container *ngIf="this.isLoggedIn() && !this.user">
    <button mat-flat-button color="accent" (click)="letUserLeave()">Return to Login</button>
  </ng-container>
</mat-toolbar>

<ng-container *ngIf="!this.isLoggedIn()">
  <amplify-authenticator ></amplify-authenticator>
</ng-container>

<div *ngIf="user || this.isLoggedIn()" class="App page-container">
    <router-outlet></router-outlet>
</div>

