<mat-toolbar color='primary'>
  Laomedeia App
  <button mat-flat-button color="primary" routerLink="classifications-view">Classifications</button>
  <span class="spacer"></span>
  <span *ngIf="authState === 'signedin' && user" class="username">
    {{user.username}}
  </span>
  <amplify-sign-out mat-flat-button *ngIf="authState === 'signedin' && user"></amplify-sign-out>
</mat-toolbar>
<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
  <div>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

