<h1>Classifications</h1>
<!-- <h2>Welcome!</h2>
<p>This page is currently a bit buggy. The page seems not to update sometimes unless you click the 'debug' button. I guess it jitters the JavaScript? There's something with Amplify that isn't playing nice with our code.</p>
<p>Anyway, click the <code>Debug</code> button after changing the text in the text box and after submitting the form.</p>
<p>If nothing is loading, navigate to 'Classifications' through the top bar!</p> -->

<h2>Classification Hierarchy</h2>
<ng-container *ngIf="this.state === 'loading'">
  <p>Loading Classifications</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *ngIf="this.state === 'error'">
  <p>There was an error loading the classifications. Please refresh the page.</p>
</ng-container>

<lao-classification [classification]='this.root' [isRoot]="true" [mergeName]="mergeForm.get('name').value"></lao-classification>

<form [formGroup]="mergeForm">

  <mat-form-field appearance="fill">
    <mat-label>Merged Classification Name</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
  </mat-form-field>
</form>

<h2>New Classification</h2>

<form [formGroup]="newClassForm">

  <mat-form-field appearance="fill">
    <mat-label>Parent Classification</mat-label>
    <mat-select formControlName="parent">
      <mat-option value="null">-- No Parent --</mat-option>
      <mat-option *ngFor="let c of classificationList" [value]="c.id">{{c.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="name">New Classification Name</mat-label>
    <input matInput id="name" type="text" formControlName="name" />
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit" [disabled]="!this.newClassForm.valid || this.state === 'submitting'" (click)="addClassification()">
    Add Classification
    <mat-progress-bar *ngIf="this.state==='submitting'" mode="indeterminate"></mat-progress-bar>
  </button>
  <ng-container *ngIf="this.formError">
    <p>There was an error submitting the form. This may be a lambda timeout, in which case refreshing the page should show the new classification.</p>
  </ng-container>
</form>
<button mat-flat-button color="warn" (click)="debug()" *ngIf="this.debugMode">Debug</button>

