<h1>Active Instance: {{id}}</h1>

<h2>Body</h2>
<mat-card>
  <code>
    {{instBody}}
    <mat-progress-bar *ngIf="instState === 'loading'" mode="indeterminate"></mat-progress-bar>
  </code>
</mat-card>

<button mat-flat-button color="primary" *ngIf="instState==='ready'" (click)="inNewTab()">Open Instance in New Tab</button>
<button mat-flat-button color="primary" *ngIf="instState==='ready'" (click)="downloadFile()">Download This Instance</button>


<h2>New Benchmark</h2>
<form [formGroup]="benchForm">
  <!-- <mat-form-field appearance="fill">
    <mat-label for="date">date (yyyy-mm-dd)</mat-label>
    <input matInput id="date" type="text" formControlName="date" />
  </mat-form-field> -->

  <mat-form-field color="accent" appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="core">Core</mat-label>
    <input matInput id="core" type="text" formControlName="core" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="cpu">CPU</mat-label>
    <input matInput id="cpu" type="text" formControlName="cpu" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="l1">L1</mat-label>
    <input matInput id="l1" type="text" formControlName="l1" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="l2">L2</mat-label>
    <input matInput id="l2" type="text" formControlName="l2" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="l3">L3</mat-label>
    <input matInput id="l3" type="text" formControlName="l3" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="numberThreads">Number of Threads</mat-label>
    <input matInput id="numberThreads" type="text" formControlName="numberThreads" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="ram">RAM</mat-label>
    <input matInput id="ram" type="text" formControlName="ram" />
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!this.benchForm.valid || this.formState === 'submitting'" (click)="addBenchmark()">
    Add Benchmark
    <mat-progress-bar mode='indeterminate' *ngIf="this.formState==='submitting'"></mat-progress-bar>
  </button>
  <p *ngIf="this.formState === 'error'">There was an error submitting the form data. It's possible that the lambda timed out and that the new benchmark will show if the page is reloaded.</p>
</form>

<h2>Benchmark List</h2>

<p *ngIf="benchmarks.length < 1 && this.benchState === 'ready'">
  The selected instance has no benchmarks.
</p>
<ng-container *ngIf="benchState === 'loading'">
  <p>Loading Benchmarks</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<mat-table [dataSource]="benchmarks" class="mat-elevation-z8">

  <!-- <ng-container matColumnDef="delete">
    <mat-header-cell> Delete </mat-header-cell>
    <mat-cell *matCellDef="let benchmark">
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container> -->

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="core">
    <mat-header-cell *matHeaderCellDef> Core </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.machineConfig.core}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cpu">
    <mat-header-cell *matHeaderCellDef> CPU </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.machineConfig.cpu}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="l1">
    <mat-header-cell *matHeaderCellDef> L1 </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.machineConfig.l1}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="l2">
    <mat-header-cell *matHeaderCellDef> L2 </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.machineConfig.l2}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="l3">
    <mat-header-cell *matHeaderCellDef> L3 </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.machineConfig.l3}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="numberThreads">
    <mat-header-cell *matHeaderCellDef> Number of Threads </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.machineConfig.numThreads}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ram">
    <mat-header-cell *matHeaderCellDef> RAM </mat-header-cell>
    <mat-cell *matCellDef="let benchmark"> {{benchmark.machineConfig.ram}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
</mat-table>
