<h1>Admin View</h1>
<h2>Registered Users</h2>

<ng-container *ngIf="userState === 'loading'">
  <p>Loading list of users</p>
  <mat-progress-bar mode='indeterminate'></mat-progress-bar>
</ng-container>

<!-- <mat-list>
  <mat-list-item *ngFor="let user of registeredUsers">
    <button mat-mini-fab (click)="selectUser(user.username)">
      <mat-icon>search</mat-icon>
    </button>
    {{user.username}}
    <button mat-mini-fab (click)="deleteUser(user.username)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list> -->

<mat-table [dataSource]="registeredUsers" class="mat-elevation-z8" *ngIf="userState==='ready'">

  <ng-container matColumnDef="search">
    <mat-header-cell *matHeaderCellDef> Get Activity </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-mini-fab (click)="selectUser(user.username)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-mini-fab color="warn" (click)="deleteUser(user.username)" [disabled]="usersToDelete[id] === true">
        <mat-icon *ngIf="!usersToDelete[id]">delete</mat-icon>
        <mat-icon *ngIf="usersToDelete[id]">hourglass</mat-icon>
      </button>
      <!-- <mat-spinner *ngIf="this.usersToDelete[user.username]"></mat-spinner> -->
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="confirmed">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.userStatus}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{getEmail(user)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.userCreateDate.seconds | date}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="adminColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: adminColumns;"></mat-row>
</mat-table>



<ng-container *ngIf="userState === 'error'">
  <p><mat-icon>error</mat-icon> Error loading users. Please refresh the page.</p>
</ng-container>

<h2>Activity For Selected User<span *ngIf="this.selectedUser">: {{this.selectedUser}}</span></h2>

<p *ngIf="!selectedUser && this.eventState === 'ready'">No user selected.</p>

<ng-container *ngIf="eventState === 'loading'">
  <p>Loading events for user <i>{{selectedUser}}</i></p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<p *ngIf="this.eventState === 'error'"><mat-icon>error</mat-icon> Unable to load events for selected user <strong>{{selectedUser}}</strong></p>

<p *ngIf="selectedUser && this.eventState === 'ready' && !events.length">No events for selected user {{selectedUser}}.</p>

<mat-table [dataSource]="events" class="mat-elevation-z8" *ngIf="selectedUser">

  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.userName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="verb">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.eventVerb}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="event">
    <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
    <mat-cell *matCellDef="let event"> {{event.eventDetails}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
</mat-table>

